body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
header {
  height: 100px;
  background-color: aqua;
}
.postBox {
  width: 75%;
  height: 80px;
}
.logoutBtn:hover {
  color: gray;
  background-color: #bfd5d5;
  cursor: pointer;
}
p.postText {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}
p.postDate {
  font-size: 12px;
}
p.userInfo {
  margin-top: 0px;
  margin-bottom: 0px;
}
.pBtn:hover {
  cursor: pointer;
}
